# Original 
.DS_Store
dogImages/
lfw/
saved_models/weights.best.from_scratch.hdf5
saved_models/weights.best.vgg16.hdf5
.ipynb_checkpoints/
bottleneck_features/DogVGG16Data.npz

inline

# ignore folder
/ignore
/images

# ignore .idea directory
/.idea

# ignore all .csv files
*.csv

# ignore merge files
.merge*

# ignore all .pdf files
*.pdf

# ignore all .xlsx files
*.xlsx

# ignore all .npy files
*.npy
