# Original 
.DS_Store
dogImages/
app_images/
lfw/
saved_models/
.ipynb_checkpoints/
images/


bottleneck_features/DogVGG16Data.npz
*.npz

inline

# ignore folder
/ignore


# ignore .idea directory
/.idea

# ignore all .csv files
*.csv

# ignore merge files
.merge*

# ignore all .npy files
*.npy
